:root {
    --f1-red: #e10600;
    --f1-black: #15151e;
    --f1-dark-grey: #1f1f27;
}

body {
    background-color: var(--f1-black) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: var(--f1-black);
}

.navbar-brand span {
    font-style: italic;
    letter-spacing: -1px;
}

.card {
    background-color: var(--f1-dark-grey) !important;
}

.card-header {
    background-color: transparent;
    border-bottom: 3px solid var(--f1-red) !important;
    text-transform: uppercase;
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: rgba(225, 6, 0, 0.1) !important;
}

.text-danger {
    color: var(--f1-red) !important;
}

.bg-danger {
    background-color: var(--f1-red) !important;
}

.nav-link:hover {
    color: var(--f1-red) !important;
}

.form-control:focus {
    background-color: #1a1a1a;
    border-color: #e10600;
    box-shadow: 0 0 0 0.25rem rgba(225, 6, 0, 0.25);
    color: white;
}